<?xml version="1.0" encoding="UTF-8"?>
<manifest package="com.otdshco.uninstall" 
          android:versionCode="1992"
	      android:versionName="1.9.9.2"
	      xmlns:android="http://schemas.android.com/apk/res/android">
	<uses-sdk android:minSdkVersion="8" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_SETTINGS" />
	<uses-permission android:name="android.permission.INSTALL_PACKAGES" />
	<application android:icon="@drawable/icon" 
	             android:label="@string/app_uninstall_name">
		<activity android:label="@string/app_uninstall_name"
			      android:name="PrestoUninstall" />
		<activity android:name="com.otdshco.uninstall.Uninstall">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".UninstallSettings" />
	</application>
</manifest>
